# update the values with your relevant database configs
DB_DEV="dbname_dev"
DB_USER_DEV="username"
DB_PASS_DEV="password"
DB_TEST="dbname_test"
DB_USER_TEST="username"
DB_PASS_TEST="password"
DB_PROD="dbname_prod"
DB_USER_PROD="username"
DB_PASS_PROD="password"
DB_HOST="127.0.0.1"
DB_PORT="5432"
SECRET="random char string to encrypt your jwt token"
SECRET_KEY=your_secret_encryption_key(more than 32 bytes)
SECRET_IV=initialization_vector(16 or something else)
ECNRYPTION_METHOD=your_encryption_method(preferred one is aes-256-cbc)
